#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#login-card{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    background-color: #e7e6e1;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    color:black;
    flex-wrap: wrap;
}

#login-card input{
    width: 100%;
}